body{
    background-color: powderblue;
}

h1,h2{
    color: red;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

div{
    background-color: whitesmoke;
    align-content: center;
    
}

.explanation{
    text-align: center;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
}

.buttonType{
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    

}

.static{
    position: relative;
    border: 3px solid #1e2ad6;
    
}

.backGC{
    background-color: maroon;
}

.relative{
    position: relative;


    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: maroon;
  }
li{
    float: left;
}


li a {
    display: block;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: 2px white;
    
  }

  li a:hover{
      background-color: silver;
  }