body{
    background-color: powderblue;
}

h1{
    color: red;
    text-align: center;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

div{
    background-color: whitesmoke;
    align-content: center;
}

.explanation{
    text-align: center;
    font-size: medium;
    font-family: fantasy;
}

.buttonType{
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;

}

.imgPos{
    align-self: center;
}