body{
    background-color: powderblue;
}

h1,h2{
    color: red;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

div{
    background-color: whitesmoke;
    align-content: center;
    
}

.explanation{
    text-align: center;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
}

.buttonType{
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    

}

.static{
    position: relative;
    border: 3px solid red;
    
}

.backGC{
    background-color: maroon;
}

.relative{
    position: relative;


    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: maroon;
  }
li{
    
    float: left;
    
}


li a {
    display: block;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
  }

  li a:hover{
      background-color: silver;
  }

  /*body{
      background-color: rgb(13, 16, 23);
  }*/

  .textbox{
    font-size: 12px;
    float  : left;
    height : 197px;
    width : 650px; 
    text-align-last: center;
}
  